1Password/
BraveSoftware/
Code/
chromium/
google-chrome/
google-chrome-beta/
google-chrome-unstable/
gtk-3.0/
microsoft-edge-dev/
obsidian/
procps/
pulse/
solaar/
vivaldi/
vivaldi-snapshot/
dconf/

user-dirs.dirs
user-dirs.locale
